<a href="https://colab.research.google.com/github/marycarmenvv/Modulo2_AnalisisYReporte_A00828570/blob/main/Modulo2_AnalisisYReporte_A00828570.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Momento de Retroalimentación: Módulo 2 Análisis y Reporte sobre el desempeño del modelo. (Portafolio Análisis)**
# María del Carmen Vargas Villarreal A00828570

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix

from sklearn import tree
from sklearn import preprocessing
from IPython.display import Image
import pydotplus
import matplotlib.pyplot as plt

In [2]:
import pandas as pd # importar libreria

columns = ["Classification", "Alcohol","Malic acid","Ash","Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols"
 	,"Proanthocyanins", "Color intensity", "Hue", "OD280/OD315 of diluted wines", "Proline"]

df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Copia de wine.data', names= columns).reset_index()
df1 = df1.drop(['index'], axis=1) # abrir el archivo de datos con los nombres dados para las columnas
df1.head()

,Classification,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [3]:
df1['Classification']

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Classification, Length: 178, dtype: int64

In [4]:
df1.Classification.unique()

array([1, 2, 3])

In [5]:
df_x = df1.drop(["Classification"], axis=1)
df_y = df1["Classification"]

df_x

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [19]:
df_y
#df_y.values.tolist()

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Classification, Length: 178, dtype: object

In [31]:
df_y

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Classification, Length: 178, dtype: object

Separamos en train, test y validation set

In [32]:
train_ratio = 0.80
test_ratio = 0.10
validation_ratio = 0.10


X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=test_ratio)

X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=validation_ratio/(train_ratio+test_ratio))

print("X_train : ",X_train.shape)

print("X_test : ",X_test.shape)

print("X_valid : ",X_valid.shape) # Usar test de validación para hacer las pruebas necesarias 
# para mejorar el modelo. Hasta el final, se usa el set de prueba.

X_train :  (142, 13)
X_test :  (18, 13)
X_valid :  (18, 13)

In [28]:
classifier = tree.DecisionTreeClassifier(criterion='gini')

# Train Decision Tree Classifer

classifier = classifier.fit(X_train, y_train)

In [29]:
test_pred_decision_tree = classifier.predict(X_valid)

In [33]:
test_pred_decision_tree_list = test_pred_decision_tree.tolist()

In [34]:
for i in range(len(test_pred_decision_tree)):
  print('Real: ',test_pred_decision_tree_list[i],' | Pred: ', test_pred_decision_tree_list[i])

Real:  2  | Pred:  2
Real:  1  | Pred:  1
Real:  1  | Pred:  1
Real:  2  | Pred:  2
Real:  1  | Pred:  1
Real:  1  | Pred:  1
Real:  2  | Pred:  2
Real:  2  | Pred:  2
Real:  1  | Pred:  1
Real:  2  | Pred:  2
Real:  3  | Pred:  3
Real:  3  | Pred:  3
Real:  2  | Pred:  2
Real:  2  | Pred:  2
Real:  2  | Pred:  2
Real:  2  | Pred:  2
Real:  3  | Pred:  3
Real:  2  | Pred:  2